body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 1%;
    font-family: "Noto Serif TC", "serif" ,"微軟正黑體", "Microsoft JhengHei", "PMingLiU", Arial, "Helvetica", Verdana Sans-serif;
}
/* 上方功能列 */
.top_bar {
    height: 50px;
    margin-bottom: 40px;
}
.top_bar .left {
     width: 300px;
     float: left; 
}
.top_bar .right {
     text-align: right;
     float: right;
}
.top_bar a{
    text-decoration:none;
    color: #000;    
}
.top_bar a:hover{
    border-bottom: darkblue solid 1px;
}
/*content*/
.logo {
    /* text-align: center; */
    width: 286px;
    height: 143px;
    margin: 0 auto;
}
nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 50px auto;
}
nav ul li{
    float: left;
    width: 20%;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    font-size: 1.5rem;
}
nav ul li a{
    text-decoration:none;
    color: cadetblue;    
}
nav ul li a:hover{
    color: darkblue;
    /* text-decoration: underline; */
    border-bottom: darkblue solid 1px;
    padding-bottom: 6px;
}
img{
    width: 100%;
}
.content{
    max-width: 1160px;
    margin: auto;
}
.title{
    text-align: center;
    font-weight: 100;
}
p{
    margin: 70px 0px;
}
div.block-line>p{
    padding: 30px 0px;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    font-size: 13px;
}
h1{
    text-align: center;
    font-size: 3rem;
}
.small-title{
    font-size: 14px;
}
p.mark{
    text-align: center;
    font-size: 12px;
    margin: 10px;

}
div.bottom-text{
    border: 1px solid #000;
    margin: 0 2%;
}
div.bottom-text p{
    margin: 30px;
    text-align: center;
}
div.img-div
{
    text-align: center;
}
h2{
    text-align: center;
}
.other{

}
.box-col4{
    float: left;
    width: 21%;
    box-sizing: border-box;
    margin: 2%;
    vertical-align: top;
}
.box_img{
    width: 100%;
}
.box_img>img{
    width: 100%;
}
.box_title{
    font-size: 1.2rem;
}
.box_text{
    color: darkgray;
}
.box_more{
    text-align: right;
    font-weight: 900;
}

@media all and (max-width:1200px){
    nav ul li{
        display: inline-block;
        width: 19%;
        margin: auto;
        box-sizing: border-box;
        text-align: center;
        vertical-align: top;
        font-size: 1rem;
    }
}
 