$primary: #30c39e;

%transition {
    transition: all .3s ease;
}

.btn {
    padding: 6px 12px;
    background: $primary;
    @extend %transition;
    &:hover {
        background: darken($primary, 5%);
    }
    &:active {
        background: darken($primary, 10%);
    }
}
$title_font:50px;
.wrapper{
    .title{
        font-size: $title_font;
    }
}